.scrollCategories {
    display: flex;
    width: 100%;
    gap: 11px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollCategories::-webkit-scrollbar {
    display: none;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-height: 190px;
    overflow-x: auto;
}

.icon-grid img {
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.icon-grid img.selected {
    background-color: #59c0ff;
    border-radius: 5px;
    transition: 0.2s ease-in;
}

.icon-grid img.no-selected:hover {
    background-color: #b8e2ff;
    border-radius: 5px;
    transition: 0.2s ease-in;
}